<div class="card user-card ">
    <div class="background bg-info">
        <img [src]="user.avatar_url" class="img-fluid rounded-circle profile-pic border-2 border-white">
    </div>
    <div class="card-body">
        <div class="card-title">
            <h5>{{user.name}}</h5>
        </div>
        <p class="card-text">Company: {{user.company}}</p>
        <p class="card-text">Bio: {{user.bio}}</p>
        <p class="card-text">Followers: {{user.followers}}</p>
        <p class="card-text">Following: {{user.following}}</p>
        <p class="card-text">Updated at: {{user.updated_at | date: "short"}}</p>
    </div>
</div>